.kapakana-cursive {
    font-family: "Kapakana", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.cormorant-infant-serif {
    font-family: "Cormorant Infant", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

:root {
    font-family: "Cormorant Infant", serif;

    background-color: floralwhite;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    color: cadetblue;
    background-color: floralwhite;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Kapakana", cursive;
}

button {
    border: 0px;
    font-size: 1em;
    cursor: pointer;
    font-weight: 500;
    color: cadetblue;
    font-family: inherit;
    transition: color 0.25s;
    background-color: floralwhite;
}

.input {
    outline: 0px;
}
